.container {
    max-width: 79rem;
    margin: 5rem auto 5rem;
}

.headerContainer {
    margin: 1rem 1rem;
}

.headerName {
    font-size: 2rem;
}

.navContainer{
    margin: 1.5rem 0 1rem;
    display: block;
}

.navContainer a {
    margin-right: 2rem;
}


@media (max-width: 79rem) {
    .container {
        /* max-width: 37rem; */
        margin: 5rem auto 5rem; 
        padding: 0rem 1rem 0rem;
    }

    .headerContainer {
        margin: 1rem 0rem;
    }
}