.worksUl {
  list-style: none;
  padding: 0;
  display: inline;
}

.worksUl li {
  width: 37rem;  
  float: left;
  background-color: #FFF;
  margin: 2rem 1rem;
}

.captionContainer {
  padding: 0.7rem 1rem 0.7rem;
  height: 10.5rem;
}

.captionType {
  font-size: 1.5rem;
  color: #616161;
  margin: 0.2rem 0 0.6rem;
}

.captionText {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
}


@media (max-width: 79rem) {
  .worksUl li {
      max-width: 100%;
      margin: 2rem 0;
  }
}